.input_field {
    padding: 5px;
}

.selectingBtn {
    padding: 5px 10px;
    background-color: var(--secondary);
}

.selectedBtn {
    background-color: var(--accent);
}

.next_btn {
    background-color: var(--accent);
}

.save_btn {
    background-color: var(--primary);
}

.input_areas {
    padding: 5px;
}